PORT=3001
MONGODB_URL_USERS=mongodb+srv://<user>:<password>@cluster.mongodb.net/EduAlt360
MONGODB_URL_PAYMENTS=mongodb+srv://<user>:<password>@cluster.mongodb.net/360pay
ABACATEPAY_API_KEY=abc_dev_your_api_key_here
ABACATEPAY_WEBHOOK_SECRET=sua_chave_secreta_webhook_aqui
MAIN_BACKEND_URL=https://api.educacaoalternativa360.com.br
